/*CSS Document*/
body{
  background-color: lightgrey;
}

#main{
  background-color: white;
  border: 5px solid #55DDE0;
  border-radius: 20px;
  margin: 0% auto;
  max-width: 1000px;
  min-width: 470px;
  box-shadow: 5px 5px #33658A;
}

h1{
  background-image: url(htmlcode.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 60%;
  padding: 30px;
  margin: 0px 10px 0px 0px;
}

p,li,nav,h1,h2,table{
  font-family: "Century Gothic";
}

p,h1,h2{
  padding-left: 10px;
}

p{
  padding-right: 10px;
}

h1{
  color: grey;
  text-shadow: 3px 3px 2px lightgrey;
}

h2{
  padding-top: 5px;
  color: gray;
}

hr{
  display: none;
  border-top: 5px solid #55DDE0;
}

.secbar{
  border-top: 5px solid #55DDE0;
}

#nav{
  list-style: none;
  position: relative;
  background-color: #55DDE0;
  margin-top:0px;
}

.dropdown li a{
  color: black;
}

#nav li{
  display: inline-block;
  padding: 2px 5px;
  position: relative;
  left: -30px;
  color: white;
}

#nav li a{
  text-decoration: none;
  color: white;
}

#nav li:hover{
  background-color: #48BEFF;
}

.dropdown li:hover{
  background-color: #34F6F2;
}

#dropStruc,#dropTags,#dropMedia{
  display: none;
  position: absolute;
  border-radius: 10px 30px;
  background-color: #48BEFF;
  left:-15px;
  box-shadow: 3px 3px #33658A;
  padding-left: 45px;
  overflow: hidden;
}

#dropStruc,#dropMedia{
  width: 80px;
}

#dropTags{
  width: 100px;
}

#subStruc:hover #dropStruc,
#subTags:hover #dropTags,
#subMedia:hover #dropMedia{
  display: block;
  text-align: left;
}

.dropdown li a:hover{
  background-color: #33658A;
  padding:2px;
}

table{
  margin: 10px;
  border-collapse:collapse;
}
th,td{
  border: 3px solid #55DDE0;
  padding:5px
}
th{
  color: grey;
  background-color: #34F6F2;
}

#html5{
  /*Image Reference*/
  /*HTML5 Logo sourced from google images/wikipedia*/
  /*https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png*/
  background-image: url(HTML5Logo.png);
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 20%;
  margin-right: 5px;
  background-size: 20%
}

.image{
  float: bottom;
  margin-left: 10px;
  padding:5px 5px 0px 5px;
  border: 2px solid #55DDE0;
  border-radius: 20px;
  font-size:small;
  width: 65%
}

.image img{
  width:100%;
}

.image p{
  margin:0px 0px 5px 0px;
}

#vidImage{
  margin-bottom: 10px;
}

.bodyContent{
  text-decoration: none;
}

.bodyContent:hover{
  color: #34F6F2;
}

#btnSubmit{
  margin: 0px 0px 10px 8px;
  font-size: medium;
  padding: 10px;
  background-color: #55DDE0;
  border-radius: 10px;
  color: #FFFFFF;
  border: 0px;
}

#btnSubmit:hover{
  background-color: #48BEFF;
}

#htmlArea{
  padding-left: 10px;
}
#iframe{
  padding-left: 10px;
  padding-bottom: 10px;
}
textarea{
  width: 99%;
  height: 200px;
}

iframe{
  height: 200px;
  width: 99%;
}


/*@media screen and (max-width:460px){
  #nav li{
    display: flex;
  }
}*/




