<!DOCTYPE html>
<html>
	<head>
		<title>{{page.title}}</title>
		
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css"/>
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Tyler Whitehead</a></li>
	        	<li><a href="/about">About</a></li>
				<li><a href="/blog">My Projects</a></li>
    		</ul>
		</nav>


		<div class="lol">
			{{content}}
		</div>


		<footer>
    		<ul>
        		<!--<li><a href="mailto:tywhitehead@hotmail.co.uk">email</a></li>-->
				<li><a href="https://github.com/tywhite123">github.com/tywhite123</a></li>
			</ul>
		</footer>
	</body>
</html>
